// NOTE: blackにはgrey-darken-4を使う
$main-background: #f5f6f4;
$sub-background: #fff;
$text: #808778;
$primary: #7ed321;
$text-link: #80b6f5; 
$input-border: #ced4da;
$white: #ffffff;
$black: #333333;
$danger: #f66262;
$colors: (
  'text': $text,
  'main-background': $main-background,
  'sub-background': $sub-background,
  'primary': $primary,
  'text-link': $text-link,
  'input-border': $input-border,
  'white': $white,
  'black': $black,
  'danger': $danger
);
