@use 'vuetify/lib/styles/settings/_colors.scss' as c;
@use './variables' as var;
@each $color_name, $color_color in c.$colors {
  @each $color_type, $color_value in $color_color {
    @if ($color_type == 'base') {
      .border-#{$color_name} {
        border-color: $color_value !important;
      }
    } @else if ($color_type != 'shades') {
      .border-#{$color_name}-#{$color_type} {
        border-color: $color_value !important;
      }
    }
  }
}
@each $name, $color in var.$colors {
  .text-#{$name} {
    color: $color !important;
  }
  .bg-#{$name} {
    background-color: $color !important;
  }
  .border-#{$name} {
    border-color: $color !important;
  }
}
